<app-title [title]="title"></app-title>
<div class="pure-form">
	<label for="book-select">Select book:</label>
	<select id="book-select" name="book-select" [(ngModel)]="book">
		<option value="">...</option>
		<option *ngFor="let bookOption of books" [ngValue]="bookOption">{{bookOption.isbn}} - {{bookOption.title}}</option>
	</select>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="book" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="isbn">ISBN</label>
		<input type="text" id="isbn" [ngModel]="book.isbn" disabled name="isbn">
	</div>
	<div class="pure-control-group">
		<label for="title">Title</label>
		<input type="text" id="title" [ngModel]="book.title" disabled name="title">
	</div>
	<div class="pure-control-group">
		<label for="originalLanguage">Original Language</label>
		<input type="text" id="originalLanguage" [ngModel]="book.getLanguage()" disabled name="originalLanguage">
	</div>
	<div class="pure-control-group">
		<label for="availableLanguages">Other available languages</label>
		<input type="text" id="availableLanguages" [ngModel]="book.getLanguages()" disabled name="availableLanguages">
	</div>
	<div class="pure-control-group">
		<label for="category">Category</label>
		<input type="text" id="category" [ngModel]="book.getCategory()" disabled name="category">
	</div>
	<div class="pure-control-group">
		<label for="availableAs">Publication forms</label>
		<input type="text" id="availableAs" [ngModel]="book.getPublicationForm()" disabled name="availableAs">
	</div>
	<button type="submit" class="pure-controls pure-button button-error">Delete Book</button>
  <a class="pure-controls pure-button" routerLink="..">Back to main menu</a>
</form>
<a *ngIf="!book" class="pure-button" routerLink="..">Back to main menu</a>