/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
  padding: 8px;
}

table { 
  border-collapse:collapse;
  margin: 1em 0;
}  
table, td, th { 
  border: 1px solid black;
  padding: 5px;
}  
table th {
  background: aliceblue;
}

menu {
  width: 10em;
  text-align: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
}
menu li {
  list-style: none;
  height: 1.5em;
  margin: 2px auto;
}
menu li button {
  width: 9em;
}
footer {
  margin: 2em auto;
}

form :invalid {
  box-shadow: none;  /* neutralizing FF */
  outline: dotted red;      
}

form.pure-form fieldset {
  padding: 3px;
}
form.pure-form fieldset label {
  margin-right: 1em;
}
form.pure-form fieldset label input {
  margin-right: 0.5em;
}
