<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<th>Name</th><th>Address</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let publisher of publishers">
			<td>{{publisher.name}}</td>
			<td>{{publisher.address}}</td>
		</tr>
	</tbody>
</table>
<a class="pure-button" routerLink="..">Back to manage publishers</a>