<app-title [title]="title"></app-title>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="isbn">ISBN</label>
		<input type="text" id="isbn" formControlName="isbn" [(ngModel)]="book.isbn" name="isbn">
		<app-book-error name="isbn" [control]="bookForm.get('isbn')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="title">Title</label>
		<input type="text" id="title" formControlName="title" [(ngModel)]="book.title" name="title">
		<app-book-error name="title" [control]="bookForm.get('title')"></app-book-error>
	</div>
	<div formGroupName="language">
		<div class="pure-control-group">
			<label for="originalLanguage">Original Language</label>
			<select class="form-control" id="originalLanguage" formControlName="originalLanguage" [(ngModel)]="book.originalLanguage" name="originalLanguage">
				<option [ngValue]="null">Choose original language</option>
				<option *ngFor="let language of languages" [ngValue]="language.value">{{language.name}}</option>
			</select>
			<app-book-error name="originalLanguage" [control]="bookForm.get('language.originalLanguage')"></app-book-error>
		</div>
		<div class="pure-control-group">
			<label for="availableLanguages">Other available languages</label>
			<select class="form-control" id="availableLanguages" formControlName="availableLanguages" [(ngModel)]="book.availableLanguages" name="availableLanguages" multiple>
				<option *ngFor="let language of languages" [ngValue]="language.value">{{language.name}}</option>
			</select>
			<app-book-error name="language" [control]="bookForm.get('language')"></app-book-error>
		</div>
	</div>
	<div class="pure-control-group">
		<label for="category">Category</label>
		<label *ngFor="let category of categories" for="category-{{category.value}}" class="pure-radio">
			<input type="radio" name="category" id="category-{{category.value}}" formControlName="category" [(ngModel)]="book.category" [value]="category.value">{{category.name}}
		</label>
		<app-book-error name="category" [control]="bookForm.get('category')"></app-book-error>
  </div>
	<div class="pure-control-group" formGroupName="availableAs">
		<label for="availableAs">Publication forms</label>
		<label *ngFor="let publicationForm of publicationForms" for="availableAs-{{publicationForm.value}}" class="pure-checkbox">
			<input type="checkbox" name="availableAs-{{publicationForm.value}}" id="availableAs-{{publicationForm.value}}" [formControlName]="publicationForm.value" [checked]="book.availableAs.includes(publicationForm.value)" (change)="changePublicationForm(publicationForm.value, $event.target.checked)">{{publicationForm.name}}
		</label>
		<app-book-error name="availableAs" [control]="bookForm.get('availableAs')"></app-book-error>
	</div>
  <button type="submit" class="pure-controls pure-button pure-button-primary" [disabled]="!bookForm.valid">Add Book</button>
	<a class="pure-controls pure-button" routerLink="..">Back to main menu</a>
</form>
