<app-title></app-title>
<figure style="float:right">
  <a href="https://plus.google.com/u/0/b/104237216582874489152/104237216582874489152/about">
    <img property="thumbnailUrl" title="Icon made by Lorc under CC BY 3.0. Available on http://game-icons.net" 
    src="assets/machine-build.svg" width="120" />
  </a>
</figure>
<p>This app is accompanied by a <a href="http://web-engineering.info/JsAngular4IndexedDBApp/minimal-tutorial.html">tutorial</a>. 
See also the <a class="link" href="http://web-engineering.info/index.html">project page</a>.
This app supports the following operations:</p>
<menu class="pure-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a routerLink="/listBooks"><button class="pure-button" type="button">List all books</button></a></li>
    <li class="pure-menu-item"><a routerLink="/createBook"><button class="pure-button" type="button">Add a new book</button></a></li>
    <li class="pure-menu-item"><a routerLink="/updateBook"><button class="pure-button" type="button">Update a book</button></a></li>
    <li class="pure-menu-item"><a routerLink="/deleteBook"><button class="pure-button" type="button">Delete a book</button></a></li>
    <li class="pure-menu-item"><button class="pure-button" type="button" (click)="onClearDatabase()">Clear database</button></li>
    <li class="pure-menu-item"><button class="pure-button" type="button" (click)="onCreateTestData()">Create test data</button></li>
  </ul>
</menu>
<p>For playing with the app, you may first want to <button class="pure-button" type="button" (click)="onCreateTestData()">Create test data</button>
and then view it with <a routerLink="/listBooks"><button class="pure-button" type="button">List all books</button></a>.
For observing the internal status and error messages, turn on the JavaScript console.</p>
<p>This minimal version of our JavaScript frontend data management application only includes a minimum of the overall functionality required for a complete app. It takes care of only one object type ("books") and supports the four 
standard data management operations (<strong>C</strong>reate/<strong>R</strong>ead/<strong>U</strong>pdate/<strong>D</strong>elete), but it needs to be enhanced by styling the user interface with CSS rules and by adding further important parts of the app's overall functionality:</p>
<menu class="pure-menu">
  <ul class="pure-menu-list">
    <!-- <li class="pure-menu-item"><a class="pure-button" href="http://ba1.felix-albert.com">Part 1</a> Handling <strong>minimal example</strong>.</li> -->
    <li class="pure-menu-item"><a class="pure-button" href="http://ba2.felix-albert.com">Part 2</a> Handling <strong>constraints validation</strong>.</li>
    <li class="pure-menu-item"><a class="pure-button" href="http://ba3.felix-albert.com">Part 3</a> Handling <strong>enumerations</strong>.</li>
    <li class="pure-menu-item"><a class="pure-button" href="http://ba4.felix-albert.com">Part 4</a> Managing <strong>unidirectional associations</strong> between object types.</li>
    <li class="pure-menu-item"><a class="pure-button" href="http://ba5.felix-albert.com">Part 5</a> Managing <strong>bidirectional associations</strong> between object types.</li>
  </ul>
</menu>
<!--
<footer style="font-size: small;">
  <hr />
  <div>Copyright © 2013-2017 Gerd Wagner, 
    <a href="http://www.tu-cottbus.de/fakultaet1/de/internet-technologie">Chair of Internet Technology</a>, 
    Brandenburg University of Technology, Germany. The code of this tutorial web app is licensed under         
    <a rel="license" href="http://www.codeproject.com/info/cpol10.aspx">The Code Project Open License (CPOL)</a>,
    implying that the code is provided "as-is", can be modified to
    create derivative works, can be redistributed, and can be used in commercial applications,
    but the associated article must not be distributed or republished without the author's consent.
  </div>
</footer>-->
