<app-title [title]="title"></app-title>
<div class="pure-form">
  <label for="publisher-select">Select publisher:</label>
  <select id="publisher-select" name="publisher-select" [(ngModel)]="publisher">
    <option value="">...</option>
    <option *ngFor="let publisherOption of publishers" [ngValue]="publisherOption">{{publisherOption.name}}</option>
  </select>
</div>
<form *ngIf="publisher" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="name">Name</label>
		<input type="text" id="name" [ngModel]="publisher.name" disabled name="name">
  </div>
  <div class="pure-control-group">
    <label for="address">Address</label>
    <input type="text" id="address" [ngModel]="publisher.address" disabled name="address">
  </div>
	<button type="submit" class="pure-controls pure-button button-error">Delete publisher</button>
  <a class="pure-controls pure-button" routerLink="..">Back to manage publishers</a>
</form>
<a *ngIf="!publisher" class="pure-button" routerLink="..">Back to manage publishers</a>