<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>ISBN</th><th>Title</th><th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.isbn}}</td><td>{{book.title}}</td><td>{{book.year}}</td>
    </tr>
  </tbody>
</table>
<a class="pure-button" routerLink="..">Back to main menu</a>