<app-title [title]="title"></app-title>
<div *ngIf="!publisher" class="pure-form">
  <label for="publisher-select">Select publisher:</label>
  <select id="publisher-select" name="publisher-select" (change)="setPublisher($event.target.value)">
    <option value="">...</option>
    <option *ngFor="let publisherOption of publishers" [value]="publisherOption.id">{{publisherOption.name}}</option>
  </select>
</div>
<form *ngIf="publisher" [formGroup]="publisherForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="name">Name</label>
		<input type="text" id="name" formControlName="name" [(ngModel)]="publisher.name" name="name">
		<app-publisher-error name="name" [control]="publisherForm.get('name')"></app-publisher-error>
  </div>
  <div class="pure-control-group">
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address" [(ngModel)]="publisher.address" name="address">
    <app-publisher-error name="address" [control]="publisherForm.get('address')"></app-publisher-error>
  </div>
	<button type="submit" class="pure-controls pure-button pure-button-primary" [disabled]="!publisherForm.valid">Update publisher</button>
  <a class="pure-controls pure-button" routerLink="..">Back to manage publishers</a>
</form>
<a *ngIf="!publisher" class="pure-button" routerLink="..">Back to manage publishers</a>