<app-title [title]="title"></app-title>
<div class="pure-form">
	<label for="book-select">Select book:</label>
	<select id="book-select" name="book-select" [(ngModel)]="book">
		<option value="">...</option>
		<option *ngFor="let bookOption of books" [ngValue]="bookOption">{{bookOption.isbn}} - {{bookOption.title}}</option>
	</select>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="book" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="isbn">ISBN</label>
		<input type="text" id="isbn" [ngModel]="book.isbn" disabled name="isbn">
	</div>
	<div class="pure-control-group">
		<label for="title">Title</label>
		<input type="text" id="title" [ngModel]="book.title" disabled name="title">
	</div>
	<div class="pure-control-group">
		<label for="year">Year</label>
		<input type="text" id="year" [ngModel]="book.year" disabled name="year">
	</div>
	<div class="pure-control-group">
		<label for="edition">Edition</label>
		<input type="text" id="edition" [ngModel]="book.edition" disabled name="edition">
	</div>
  <button type="submit" class="pure-controls pure-button button-error">Delete Book</button>
  <a class="pure-controls pure-button" routerLink="..">Back to main menu</a>
</form>
<a *ngIf="!book" class="pure-button" routerLink="..">Back to main menu</a>