<app-title [title]="title"></app-title>
<div class="pure-form">
  <label for="book-select">Select Book:</label>
  <select id="book-select" name="book-select" [(ngModel)]="book">
    <option value="">...</option>
    <option *ngFor="let bookOption of books" [ngValue]="bookOption">{{bookOption.isbn}} - {{bookOption.title}}</option>
  </select>
</div>
<form *ngIf="book" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="isbn">ISBN</label>
		<input type="text" id="isbn" [ngModel]="book.isbn" disabled name="isbn">
	</div>
	<div class="pure-control-group">
		<label for="title">Title</label>
		<input type="text" id="title" [ngModel]="book.title" disabled name="title">
	</div>
	<div class="pure-control-group">
		<label for="year">Year</label>
		<input type="number" id="year" [ngModel]="book.year" disabled name="year">
	</div>
	<div class="pure-control-group">
    <label for="authorIds">Authors</label>
    <select id="authorIds" [ngModel]="book.authorIds" name="authorIds" disabled multiple>
      <option value="" disabled>Choose authors</option>
			<option *ngFor="let author of authors" [ngValue]="author.id">{{author.name}}</option>
		</select>
  </div>
	<div class="pure-control-group">
		<label for="publisherId">Publisher</label>
		<select id="publisherId" [ngModel]="book.publisherId" disabled name="publisherId">
			<option value="">No publisher selected</option>
			<option *ngFor="let publisher of publishers" [ngValue]="publisher.id">{{publisher.name}}</option>
		</select>
	</div>
  <button type="submit" class="pure-controls pure-button button-error">Delete Book</button>
	<a class="pure-controls pure-button" routerLink="..">Back to Manage Books</a>
</form>
<a *ngIf="!book" class="pure-button" routerLink="..">Back to Manage Books</a>