<app-title [title]="title"></app-title>
<div class="pure-form">
	<label for="author-select">Select author:</label>
	<select id="author-select" name="author-select" [(ngModel)]="author">
		<option value="">...</option>
		<option *ngFor="let authorOption of authors" [ngValue]="authorOption">{{authorOption.name}}</option>
	</select>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="author" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="name">Name</label>
		<input type="text" id="name" [ngModel]="author.name" disabled name="name">
  </div>
	<div class="pure-control-group">
    <label for="dayOfBirth">Day of Birth</label>
    <input type="text" id="dayOfBirth" [ngModel]="author.dayOfBirth" disabled name="dayOfBirth">
  </div>
  <div class="pure-control-group">
    <label for="dayOfDeath">Day of Death</label>
    <input type="text" id="dayOfDeath" [ngModel]="author.dayOfDeath" disabled name="dayOfDeath">
  </div>
	<button type="submit" class="pure-controls pure-button button-error">Delete Author</button>
  <a class="pure-controls pure-button" routerLink="..">Back to manage authors</a>
</form>
<a *ngIf="!author" class="pure-button" routerLink="..">Back to manage authors</a>
