<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
      <th>ISBN</th><th>Title</th><th>Year</th><th>Authors</th><th>Publisher</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let book of books">
      <td>{{book.isbn}}</td>
      <td>{{book.title}}</td>
      <td>{{book.year}}</td>
      <td>
        <ul>
          <ng-template ngFor let-author [ngForOf]="authors">
            <li *ngIf="book.authorIds.includes(author.id)">{{author.name}}</li>
          </ng-template>
        </ul>
      </td>
      <td>
        <ng-template ngFor let-publisher [ngForOf]="publishers">
          <ng-template [ngIf]="book.publisherId == publisher.id">{{publisher.name}}</ng-template>
        </ng-template>
      </td>
		</tr>
	</tbody>
</table>
<a class="pure-button" routerLink="..">Back to manage books</a>