<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
      <th>ISBN</th><th>Title</th><th>Language</th><th>Other avail. lang.</th><th>Category</th><th>Available as</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let book of books">
      <td>{{book.isbn}}</td>
      <td>{{book.title}}</td>
      <td>{{book.getLanguage()}}</td>
      <td>{{book.getLanguages()}}</td>
      <td>{{book.getCategory()}}</td>
      <td>{{book.getPublicationForm()}}</td>
		</tr>
	</tbody>
</table>
<a class="pure-button" routerLink="..">Back to main menu</a>