<app-title [title]="title"></app-title>
<div *ngIf="!book" class="pure-form">
	<label for="book-select">Select book:</label>
	<select id="book-select" name="book-select" (change)="setBook($event.target.value)">
		<option value="">...</option>
		<option *ngFor="let bookOption of books" [value]="bookOption.isbn">{{bookOption.isbn}} - {{bookOption.title}}</option>
	</select>
</div>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" *ngIf="book" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="isbn">ISBN</label>
		<input type="text" id="isbn" formControlName="isbn" [ngModel]="book.isbn" name="isbn">
	</div>
	<div class="pure-control-group">
		<label for="title">Title</label>
		<input type="text" id="title" formControlName="title" [(ngModel)]="book.title" name="title">
		<app-book-error name="title" [control]="bookForm.get('title')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="year">Year</label>
		<input type="number" id="year" formControlName="year" [(ngModel)]="book.year" name="year">
		<app-book-error name="year" [control]="bookForm.get('year')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="edition">Edition</label>
		<input type="number" id="edition" formControlName="edition" [(ngModel)]="book.edition" name="edition">
		<app-book-error name="edition" [control]="bookForm.get('edition')"></app-book-error>
	</div>
	<button type="submit" class="pure-controls pure-button pure-button-primary" [disabled]="!bookForm.valid">Update Book</button>
	<a class="pure-controls pure-button" routerLink="..">Back to main menu</a>
</form>
<a *ngIf="!book" class="pure-button" routerLink="..">Back to main menu</a>