<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<th>Name</th><th>Day Of Birth</th><th>Day Of Death</th><th>Books</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let author of authors">
			<td>{{author.name}}</td>
			<td>{{author.dayOfBirth}}</td>
      <td>{{author.dayOfDeath}}</td>
      <td>
        <ul *ngIf="author.bookIds.length > 0">
          <ng-template ngFor let-book [ngForOf]="books">
						<li *ngIf="author.bookIds.includes(book.isbn)">{{book.title}}</li>
          </ng-template>
        </ul>
      </td>
		</tr>
	</tbody>
</table>
<a class="pure-button" routerLink="..">Back to manage authors</a>