<app-title [title]="title"></app-title>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="isbn">ISBN</label>
		<input type="text" id="isbn" formControlName="isbn" [(ngModel)]="book.isbn" name="isbn">
		<app-book-error name="isbn" [control]="bookForm.get('isbn')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="title">Title</label>
		<input type="text" id="title" formControlName="title" [(ngModel)]="book.title" name="title">
		<app-book-error name="title" [control]="bookForm.get('title')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="year">Year</label>
		<input type="number" id="year" formControlName="year" [(ngModel)]="book.year" name="year">
		<app-book-error name="year" [control]="bookForm.get('year')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="edition">Edition</label>
		<input type="number" id="edition" formControlName="edition" [(ngModel)]="book.edition" name="edition">
		<app-book-error name="edition" [control]="bookForm.get('edition')"></app-book-error>
	</div>
  <button type="submit" class="pure-controls pure-button pure-button-primary" [disabled]="!bookForm.valid">Add Book</button>
	<a class="pure-controls pure-button" routerLink="..">Back to main menu</a>
</form>
