<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<th>Name</th><th>Day Of Birth</th><th>Day Of Death</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let author of authors">
			<td>{{author.name}}</td>
			<td>{{author.dayOfBirth}}</td>
			<td>{{author.dayOfDeath}}</td>
		</tr>
	</tbody>
</table>
<a class="pure-button" routerLink="..">Back to manage authors</a>