<app-title [title]="title"></app-title>
<form (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
  <div class="pure-control-group">
    <label for="isbn">ISBN</label>
    <input type="text" id="isbn" required [(ngModel)]="book.isbn" name="isbn">
  </div>
  <div class="pure-control-group">
    <label for="title">Title</label>
    <input type="text" id="title" required [(ngModel)]="book.title" name="title">
  </div>
  <div class="pure-control-group">
    <label for="year">Year</label>
    <input type="number" id="year" required [(ngModel)]="book.year" name="year">
  </div>
  <button type="submit" class="pure-controls pure-button pure-button-primary">Add Book</button>
  <a class="pure-controls pure-button" routerLink="..">Back to main menu</a>
</form>