<header>
  <h1>Public Library</h1>
  <h2>Angular 4/IndexedDB Validation App<ng-template [ngIf]="title">: {{title}}</ng-template></h2>
  <h3>An example of a frontend web app with constraint validation built with the Angular 4 framework and the IndexedDB local database</h3>
</header>