<app-title [title]="title"></app-title>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="isbn">ISBN</label>
		<input type="text" id="isbn" formControlName="isbn" [(ngModel)]="book.isbn" name="isbn">
		<app-book-error name="isbn" [control]="bookForm.get('isbn')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="title">Title</label>
		<input type="text" id="title" formControlName="title" [(ngModel)]="book.title" name="title">
		<app-book-error name="title" [control]="bookForm.get('title')"></app-book-error>
	</div>
	<div class="pure-control-group">
		<label for="year">Year</label>
		<input type="number" id="year" formControlName="year" [(ngModel)]="book.year" name="year">
		<app-book-error name="year" [control]="bookForm.get('year')"></app-book-error>
	</div>
	<div class="pure-control-group">
    <label for="authorIds">Authors</label>
    <select id="authorIds" formControlName="authorIds" [(ngModel)]="book.authorIds" name="authorIds" multiple>
      <option value="" disabled>Choose authors</option>
			<option *ngFor="let author of authors" [ngValue]="author.id">{{author.name}}</option>
		</select>
		<app-book-error name="authorIds" [control]="bookForm.get('authorIds')"></app-book-error>
  </div>
	<div class="pure-control-group">
		<label for="publisherId">Publisher</label>
		<select id="publisherId" formControlName="publisherId" [(ngModel)]="book.publisherId" name="publisherId">
			<option [ngValue]="null">No publisher selected</option>
			<option *ngFor="let publisher of publishers" [ngValue]="publisher.id">{{publisher.name}}</option>
		</select>
    <app-book-error name="publisherId" [control]="bookForm.get('publisherId')"></app-book-error>
	</div>
  <button type="submit" class="pure-controls pure-button pure-button-primary" [disabled]="!bookForm.valid">Add Book</button>
	<a class="pure-controls pure-button" routerLink="..">Back to manage books</a>
</form>
