<app-title [title]="title"></app-title>
<form [formGroup]="authorForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="name">Name</label>
		<input type="text" id="name" formControlName="name" [(ngModel)]="author.name" name="name">
		<app-author-error name="name" [control]="authorForm.get('name')"></app-author-error>
	</div>
	<div class="pure-control-group">
		<label for="dayOfBirth">Day Of Birth</label>
		<input type="text" id="dayOfBirth" formControlName="dayOfBirth" [(ngModel)]="author.dayOfBirth" name="dayOfBirth" placeholder="yyyy-mm-dd">
		<app-author-error name="dayOfBirth" [control]="authorForm.get('dayOfBirth')"></app-author-error>
	</div>
	<div class="pure-control-group">
		<label for="dayOfDeath">Day Of Death</label>
		<input type="text" id="dayOfDeath" formControlName="dayOfDeath" [(ngModel)]="author.dayOfDeath" name="dayOfDeath" placeholder="yyyy-mm-dd">
		<app-author-error name="dayOfDeath" [control]="authorForm.get('dayOfDeath')"></app-author-error>
    <app-author-error name="date" [control]="authorForm"></app-author-error>
	</div>
  <button type="submit" class="pure-controls pure-button pure-button-primary" [disabled]="!authorForm.valid">Add Author</button>
  <a class="pure-controls pure-button" routerLink="..">Back to manage authors</a>
</form>