<app-title></app-title>
<figure style="float:right">
	<a href="https://plus.google.com/u/0/b/104237216582874489152/104237216582874489152/about">
		<img property="thumbnailUrl" title="Icon made by Lorc under CC BY 3.0. Available on http://game-icons.net" 
		src="assets/machine-build.svg" width="120" />
	</a>
</figure>
<p>This app, which is accompanied by a <a href="http://ba1.felix-albert.com">tutorial</a>, is the 4th example app	of our incremental sequence of five examples of Angular 4/IndexedDB Front-End Web Apps. 
See also the <a class="link" href="http://web-engineering.info/index.html">project page</a>.
This app supports the following operations:</p>
<menu class="pure-menu">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a routerLink="/authors"><button class="pure-button" type="button">Manage authors</button></a></li>
		<li class="pure-menu-item"><a routerLink="/publishers"><button class="pure-button" type="button">Manage publishers</button></a></li>
		<li class="pure-menu-item"><a routerLink="/books"><button class="pure-button" type="button">Manage books</button></a></li>
		<li class="pure-menu-item"><button class="pure-button" type="button" (click)="onClearDatabase()">Clear database</button></li>
		<li class="pure-menu-item"><button class="pure-button" type="button" (click)="onCreateTestData()">Create test data</button></li>
	</ul>
</menu>
<p>For playing with the app, you may first want to <button class="pure-button" type="button" (click)="onCreateTestData()">Create test data</button>
and then view it (e.g. by choosing <a routerLink="/books/listBooks"><button class="pure-button" type="button">"Manage books" and then "List all books"</button></a>).</p>
<p>This example app for Part 4 of our 5-part tutorial takes care of the object types <code>Author</code>, <code>Publisher</code> and <code>Book</code> as well as the unidirectional associations between <code>Book</code> and <code>Author</code> and between <code>Book</code> and <code>Publisher</code>. The app supports the four standard data management operations (<strong>C</strong>reate/<strong>R</strong>ead/<strong>U</strong>pdate/<strong>D</strong>elete). It extends the <a class="pure-button" href="http://ba2.felix-albert.com">example app of Part 2</a> by adding code for handling <strong>unidirectional associations</strong>, but it needs to be enhanced by adding further important parts of the app's overall functionality:</p>
<menu class="pure-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a class="pure-button" href="http://ba1.felix-albert.com">Part 1</a> Handling <strong>minimal example</strong>.</li>
    <li class="pure-menu-item"><a class="pure-button" href="http://ba2.felix-albert.com">Part 2</a> Handling <strong>constraints validation</strong>.</li>
    <li class="pure-menu-item"><a class="pure-button" href="http://ba3.felix-albert.com">Part 3</a> Handling <strong>enumerations</strong>.</li>
    <!-- <li class="pure-menu-item"><a class="pure-button" href="http://ba4.felix-albert.com">Part 4</a> Managing <strong>unidirectional associations</strong> between object types.</li> -->
    <li class="pure-menu-item"><a class="pure-button" href="http://ba5.felix-albert.com">Part 5</a> Managing <strong>bidirectional associations</strong> between object types.</li>
  </ul>
</menu>
<!--
<footer style="font-size: small;">
	<hr />
	<div>Copyright © 2013-2017 Gerd Wagner, 
		<a href="http://www.tu-cottbus.de/fakultaet1/de/internet-technologie">Chair of Internet Technology</a>, 
		Brandenburg University of Technology, Germany. The code of this tutorial web app is licensed under         
		<a rel="license" href="http://www.codeproject.com/info/cpol10.aspx">The Code Project Open License (CPOL)</a>,
		implying that the code is provided "as-is", can be modified to
		create derivative works, can be redistributed, and can be used in commercial applications,
		but the associated article must not be distributed or republished without the author's consent.
	</div>
</footer>-->
