<app-title [title]="title"></app-title>
<menu class="pure-menu">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a routerLink="../list{{name}}s"><button class="pure-button" type="button">List all {{name | lowercase}}s</button></a></li>
		<li class="pure-menu-item"><a routerLink="../create{{name}}"><button class="pure-button" type="button">Add new {{name | lowercase}}</button></a></li>
		<li class="pure-menu-item"><a routerLink="../update{{name}}"><button class="pure-button" type="button">Update {{name | lowercase}}</button></a></li>
		<li class="pure-menu-item"><a routerLink="../delete{{name}}"><button class="pure-button" type="button">Delete {{name | lowercase}}</button></a></li>
	</ul>
</menu>
<a class="pure-controls pure-button" routerLink="../..">Back to main menu</a>
