<app-title [title]="title"></app-title>
<form [formGroup]="publisherForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="name">Name</label>
		<input type="text" id="name" formControlName="name" [(ngModel)]="publisher.name" name="name">
		<app-publisher-error name="name" [control]="publisherForm.get('name')"></app-publisher-error>
  </div>
  <div class="pure-control-group">
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address" [(ngModel)]="publisher.address" name="address">
    <app-publisher-error name="address" [control]="publisherForm.get('address')"></app-publisher-error>
  </div>
	<button type="submit" class="pure-controls pure-button pure-button-primary" [disabled]="!publisherForm.valid">Add publisher</button>
  <a class="pure-controls pure-button" routerLink="..">Back to manage publishers</a>
</form>