<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<th>Name</th><th>Address</th><th>Books</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let publisher of publishers">
			<td>{{publisher.name}}</td>
      <td>{{publisher.address}}</td>
      <td>
        <ul *ngIf="publisher.bookIds.length > 0">
          <ng-template ngFor let-book [ngForOf]="books">
            <li *ngIf="publisher.bookIds.includes(book.isbn)">{{book.title}}</li>
          </ng-template>
        </ul>
      </td>
		</tr>
	</tbody>
</table>
<a class="pure-button" routerLink="..">Back to manage publishers</a>