<app-title [title]="title"></app-title>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<th>ISBN</th><th>Title</th><th>Year</th><th>Edition</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let book of books">
			<td>{{book.isbn}}</td><td>{{book.title}}</td><td>{{book.year}}</td><td>{{book.edition}}</td>
		</tr>
	</tbody>
</table>
<a class="pure-button" routerLink="..">Back to main menu</a>