<header>
  <h1>Public Library</h1>
  <h2>Angular 4/IndexedDB Minimal App<ng-template [ngIf]="title">: {{title}}</ng-template></h2>
  <h3>An example of a minimal effort frontend web app built with the Angular 4 framework and the IndexedDB local database</h3>
</header>